body {
  padding-top: 90px;
  padding-bottom: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 600px;
}

h5 {
  font-weight: bold;
}

.editable-click {
  color: inherit;
  border-bottom: 0;
}

.welcomeTitle {
  color: #01A9E7;
}

.editable-click:hover, a.editable-click:hover {
  color: inherit;
}

.clickable {
  cursor: pointer;
  cursor: hand;
}
a {
  /*color: #29CEFF;*/
  color: #01A9E7;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

p {
  padding: 0px 0px 6px 0px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.navbar-mf {
  position: fixed;
  top: 0px;
  z-index: 100;
  background-color: #0078EF;
  height: 60px;
  box-shadow: 0px 2px 4px -2px #6A7C87;
}

/*.container-narrow > hr {
  margin: 30px 0;
}*/

.addSection {
  color: #27ae60;
}
.addSection > i,p {
  display: inline-block;
  margin: 0;
}
.addMinorSection {
  margin-left: 0 0 20px 20px;
}
.btn-outline-success {
    color: #5cb85c;
    background-image: none;
    background-color: transparent;
    border-color: #5cb85c;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.btn-outline-secondary {
    color: #ccc;
    background-image: none;
    background-color: transparent;
    border-color: #ccc;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #ccc;
    border-color: #ccc;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: #3D515C;
  color: #FFFFFF;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /*.container {
    max-width: 730px;
  }*/

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* off-canvas */
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  position: relative;
}
footer {
  padding: 30px 0;
}

/* Content */
.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
}
/*#select-product {
  margin-left: 20px;
}*/
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
#content {
  line-height: 2;
}
.sectionContent {
  margin-bottom: 30px;
}
.subsection {
  margin-left: 20px;
}
.nav-subsection > li {
  margin-left: 20px;
  font-size: 12px;
}

.sidebar-nav-fixed {
  width:20%;
}

/* nav scroll */
.nav .active {
  font-weight: bold;
}

.nav .nav {
  display: none;
}

.nav .active .nav {
  display: block;
}

.nav .nav a {
  font-weight: normal;
}

.nav .nav .active a,
.nav .nav .active:hover a,
.nav .nav .active:focus a {
  border-left: 2px solid #6A8C9E;
  /*border-left: 2px solid #8457B6;*/
}

.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span {
  display: none;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  /*background-color: #3D515C;*/
  background-color: #E8EAE9;
  color: #3D515C;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
    height:100%;
  }
}

*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -55px; 
  height: 55px; 
  visibility: hidden; 
}